.event-details-main {
  font-size: 13px;
}

.search-results-h3 {
  font-size: 25px;
  margin-top: 65px;
}

.search-results-section {
}

/* hr line */
.style-four-a {
  height: 12px;
  border: 0;
  width: 8%;
  margin-left: 3px;
  box-shadow: inset 0 7px 6px -9px var(--second-color);
}
.row-container {
  text-align: left;
  margin-bottom: 8px;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px 0 20px 0;
  height: auto; /* Should be removed. Only for demonstration */
}

.section-one-container {
  background-color: var(--eighth-color);
  padding: 12px;
  height: 200px;
}

.section-two-container {
  padding: 12px 12px 0 12px;
  /* height: 200px; */
  /* margin-bottom: 40px; */
}

.section-two-left > * {
  margin-bottom: 16px;
}

.section-two-plus-descripton {
  background-color: var(--seventh-color);
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--forth-color);
}

.social-link {
  color: var(--fifth-color);
  box-shadow: 1px 1px 1px black;
}

.flyer-poster-one {
  margin-bottom: 25px;
}

.flyer-poster-two {
  margin-bottom: 45px;
}

.artist-name-header {
  font-size: 20px;
  margin-bottom: 25px;
}

.where-header,
.when-header {
  color: var(--second-color);
  text-align: left;
  margin-bottom: -3px;
  font-size: 11px;
}

.venue-name-container,
.venue-when-container {
  margin-bottom: 25px !important;
  text-align: left;
}

.venue,
.where-header,
.when-header {
  font-weight: 600;
  line-height: 1.3em;
}

/* .event-description {
  width: 80%;
}

.event-description-container {
  text-align: center;
} */

.event-description-container {
  margin-bottom: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 20px; */
}

.event-description {
  max-width: 85%;
  font-size: 1em;
  line-height: 1.5em;
}
.with-abbr {
  font-size: 11px;
}
