/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* Common layout adjustments for mobile */
/* Responsive Layout Adjustments */
/* 1920, 1280, 720,  */
@media (min-width: 390px) {
  .container {
    max-width: 390px;
  }
}

@media (min-width: 393px) {
  .container {
    max-width: 393px;
  }
}

@media (min-width: 412px) {
  .container {
    max-width: 412px;
  }
}

@media (min-width: 414px) {
  .container {
    max-width: 414px;
  }
  h1 {
    font-size: 3em; /* Adjusted for larger mobile devices */
  }
}

@media (min-width: 1024px) {
  :root {
    --background-color: #f0f0f0;
    --button-bg: #e0e0e0;
    }
    
    body {
      text-align: left;
      padding: 2rem 5%;
      min-height: 100vh;
      gap: 20px;
      margin-top: 20%;
  }

  .container {
    max-width: 960px; /* A reasonable max width for content on larger screens */
  }

  h1 {
    font-size: 3.5em; /* Slightly increased for desktop */
  }
}

.home-btn-group {
}
/* 
.primary-home-btn {
  background-color: var(--fourth-color);
  color: var(--text-off-white);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* min-height: 100vh; */
  /* gap: 20px; */
  /* margin-top: 20%; Adds top margin to push content down */
} /* I have no idea why, but this error holds all my css in the correct places */

.primary-home-btn,
a {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width as per your setting */
  height: 65px; /* Fixed height */
  font-size: 24px; /* Large font size */
  padding: 0 20px; /* Horizontal padding, no vertical padding */
}

.primary-home-btn:active {
  background-color: var(--fourth-color);
}

.primary-home-btn:after {
  background-color: var(--fourth-color);
} */
