/* Base, mobile-first styles */
:root {
  --primary-color: #646cff;
  --background-color: #242424;
  --text-color: #fcb667;
  --text-off-white: #f8f8f8;
  --button-bg: #f9f9f9;
  --border-radius: 8px;
  --first-color: #fcb667; /* Given */
  --second-color: #d8816f; /* Next in sequence */
  --third-color: #995d6c; /* Following */
  --fourth-color: #554252; /* Continuing */
  --fifth-color: #f9f871; /* Another */
  --sixth-color: #242424; /* Ending the sequence */
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Roboto", "Inter", system-ui, sans-serif;
  margin: 0;
  padding: 2rem;
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
}

h1 {
  font-size: 2.8em; /* Optimized font size for mobile */
}

.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.route-links {
  color: var(--text-color);
  position: absolute;
  bottom: -395px;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}

.header-page-header {
  color: var(--text-color);
}
